{% block server_redirect %}
{% if item.server_name_redirect is defined and item.server_name_redirect%}
server {
    listen       {{ item.listen | default('80') }};
    server_name  {{ item.server_name_redirect }};
    return       301 $scheme://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}
{% endblock %}

server {
    {% block server %}
    {% block server_basic -%}
	listen       {{ item.listen | default('80') }};
    {% if item.ssl_state  is defined and item.ssl_state %}
    listen       {{ item.listen_ssl | default('443 ssl http2')}};
    {% endif %}

    {% if item.server_name is defined and item.server_name %}
    server_name {{ item.server_name }};
    {% endif %}

    {% if item.root is defined and item.root %}
    root {{ item.root }};
    {% endif %}
    
    index {{ item.index | default('index.html index.htm') }};
    {% endblock %}

    access_log  /var/log/nginx/{{ item.server_name.split(' ')[0] }}.access;
    error_log   /var/log/nginx/{{ item.server_name.split(' ')[0] }}.error error;

    {% if item.extra_parameters is defined and item.extra_parameters %}
    {{ item.extra_parameters|indent(4) }}
    {% endif %}

    {% if item.hsts is defined and item.hsts %}
    # Enable HSTS
    {{ item.hsts }};
    {% endif %}
    
    {% if item.error_pages is defined and item.error_pages %}
    {%+ for item in item.error_pages -%}
        {{ item }}
    {%+ endfor %}
    {% endif %}

    {% if item.return is defined and item.return %}
    return {{ item.return }};
    {% endif %}
    {% endblock %}
}